<html>
<body>
<div>
    <form action="/logout" method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <input type="submit" value="Sign Out">
    </form>
</div>
<div>
    <form method="post">
        <input type="text" name="name" placeholder="Enter name of new"/>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <button type="submit">Add project</button>
    </form>
</div>
<div>List of projects</div>
{{#projectList}}
    <div>
        <i>{{id}}</i>
        <a href="/dashboard/{{id}}">{{name}}</a>
        <span> Done : </span>
        <span>{{closed}}</span>
        <td><a href="/project/{{id}}">Edit</a></td>
    </div>
{{/projectList}}
</body>
</html>