<html>
<body>
<a href="/dashboard">To dashboard</a>
<div> Task editor</div>
<form method="post">
    <div><input type="text" placeholder="{{task.title}}" name="title"></div>
    <div><input type="text" placeholder="{{task.performer}}" name="performer"></div>
    <div><input type="text" placeholder="{{task.releaseVersion}}" name="releaseVersion"></div>
    <div><input type="text" placeholder="{{task.status}}" name="status"></div>

    <input type="hidden" name="id">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    <button type="submit">Save task</button>
</form>
<form method="post" action="/task/{{id}}/delete">
    <input type="hidden" name="_method" value="delete">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    <button type="submit">Delete task</button>
</form>
</body>
</html>